body {
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0 auto;
}

#list {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
}
#cart, #login {
  display: flex;
  justify-content: flex-end;
  align-content: stretch;
}

#ms {
  display: flex;
  justify-content: center;
}
a{
  text-decoration: none;
  margin: 5px;
  /*color: rgba(75, 51, 51, 0.007);*/
}

p {
  color: rgba(75, 51, 51, 1);
}

ul {
  list-style: none;
}

.walltowall {
  background-color: rgb(179, 193, 207);
  text-align: center;
  margin-bottom: 40px;
  /*padding-bottom: 10px;*/
}
.user1 {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.picdescr {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.link {
  font-weight: bold;
  color: rgb(0, 132, 255);
}

.jumbo {
  width: 100%;
}

.small {
  text-align: center;
}
.footer {
  font-size: 10px;
  color: rgb(75, 51, 51);
}

#top {
  text-align: center;
}

@media all and (min-width: 540px) {
  .walltowall {
    margin-bottom: 20px;
    padding: 20px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }
  .small {
    width: 300px;
    margin: 40px;
    display: flex;
    justify-content: center;
    
  }

  .picdescr {
    width: 300px;
    text-align: left;
  }
  .nav {
    padding-bottom: 10px;
    height: 20px;
    display: flex;
    justify-content:center;
    align-content: stretch;
  }
}

@media all (max-width: 540px) and (min-width: 770px) {
  display: flex;
}